<div class="w3-container w3-margin-top">
    <!--ANY EXPLORACIO-->
    <div
            [hidden]="tempsUltimaColono!=-1 || seguimentProgramat!=-1"
    >
        <app-any-exploracio
                (gonePrevious)="goStepMotivo()"
                (submittedAnyExploracio)="computeLastColono()"
        ></app-any-exploracio>
    </div>
    <div [hidden]="tempsUltimaColono>=5 || tempsUltimaColono == -1 || seguimentProgramat!=-1">
        <app-menor-que-cinc
                (gonePrevious)="goChooseYear()"
                (submittedMenorCinc)="computeSeguimentProgramat()"
        ></app-menor-que-cinc>
    </div>
    <div [hidden]="tempsUltimaColono>=5 || tempsUltimaColono == -1 || seguimentProgramat!=1">
        <app-info-exploracio
                (gonePrevious)="goSeguimentProgramat()"
                (submittedInfoExplor)="goContactTelEmail()"
        ></app-info-exploracio>
    </div>
    <div [hidden]="tempsUltimaColono>=5 || tempsUltimaColono == -1 || seguimentProgramat!=2">
        <app-contact-tel-email
                (gonePrevious)="goInfoExplor()"
                (emailContactChange)="this.emailContactChange.emit($event)"
                (phoneContactChange)="this.phoneContactChange.emit($event)"
        ></app-contact-tel-email>
    </div>
</div>
