<div class="w3-container w3-margin-top">
    <!--ANY EXPLORACIO-->
    <div
            [hidden]="tempsUltimaColono!=-1 || seguimentProgramat!=-1"
    >
        <app-any-exploracio
                (gonePrevious)="goStepMotivo()"
                (submittedAnyExploracio)="computeLastColono()"
        ></app-any-exploracio>
    </div>
    <div [hidden]="tempsUltimaColono<5 || seguimentProgramat!=-1">
        <app-menor-que-cinc
                (gonePrevious)="goChooseYear()"
                (submittedMenorCinc)="computeSeguimentProgramat()"
        ></app-menor-que-cinc>
    </div>
    <div [hidden]="tempsUltimaColono<5 || seguimentProgramat!=1">
        <app-info-exploracio

        ></app-info-exploracio>
    </div>
</div>
