<div class="w3-container w3-margin-top">
  <!--0 - MUNICPI -->
  <div [hidden]="formStep!=0">
    <app-municipi (submittedMunicipi)="goToStep1()"></app-municipi>
  </div>

  <!--1 - DADES IDENTIFICATIVES-->
  <div [hidden]="formStep!=1">
    <app-identificative-data
            (gonePrevious)="goToStep0()"
            (submittedIdData)="goToStep2()"
            (emailIdChange)="setUserEmailFromID($event)"
            (phoneIdChange)="setUserPhoneFromID($event)"
    ></app-identificative-data>
  </div>

  <!--2 - MOTIU-->
  <div [hidden]="formStep!=2">
    <app-motivo
            (gonePrevious)="goToStep1()"
            (submittedMotivo)="goToStepMotivo()"
    ></app-motivo>
  </div>

  <!--3 - CARTA REBUDA A UNA ALTRA ADREÇA-->
  <div [hidden]="formStep!=3">
    <app-different-address
            (gonePrevious)="goToStep2()"
    ></app-different-address>
  </div>

  <!--4 - CARTA NO REBUDA-->
  <div [hidden]="formStep!=4">
    <app-no-rebuda
            (gonePrevious)="goToStep2()"
    ></app-no-rebuda>
  </div>

  <!--5 - CARTA PERDUDA -->
  <div [hidden]="formStep!=5">
    <app-perduda
            (gonePrevious)="goToStep2()"
            (emailPerdChange)="setUserEmailFromPerduda($event)"
    ></app-perduda>
  </div>

  <!--6 - ULTIMS 5 ANYS -->
  <div [hidden]="formStep!=6">
    <app-ultims-anys
            (gonePrevious)="goToStep2()"
            (submitUltimsAnys)="goFinalStep()"
            (emailContactChange)="setUserEmailFromContact($event)"
            (phoneContactChange)="setUserPhoneFromContact($event)"
    ></app-ultims-anys>
  </div>

  <div [hidden]="formStep!=11">
    <app-final-message

    ></app-final-message>
  </div>


  <!--<div class="w3-margin-top w3-margin-left">-->
    <!--<button type="button" class="btn btn-primary" (click)="logData()">-->
      <!--Try Me!-->
    <!--</button>-->
  <!--</div>-->
</div>
