<div class="w3-container w3-margin-top">
  <div [hidden]="formStep!=0">
    <app-municipi (submittedMunicipi)="goToStep1()" (previousClick)="console.log('what?');" ></app-municipi>
  </div>
  <div [hidden]="formStep!=1">
    <app-identificative-data (submittedIdData)="goToStep2()" (previousClick)="goToStep0()" ></app-identificative-data>
  </div>

  <div [hidden]="formStep!=2">
    <app-motivo (submittedMotivo)="goToStepMotivo()" (gonePrevious)="goToStep1()"></app-motivo>
  </div>

  <div [hidden]="formStep!=3">
    <app-canvi-domicili></app-canvi-domicili>
  </div>

  <div [hidden]="formStep!=4">
    <app-carta-perdida></app-carta-perdida>
  </div>

  <div [hidden]="formStep!=5">
    <app-malaltia-inflamatoria-intestinal></app-malaltia-inflamatoria-intestinal>
  </div>

  <div [hidden]="formStep!=6">
    <app-antecedents-personals></app-antecedents-personals>
  </div>

  <div [hidden]="formStep!=7">
    <app-antecedents-familiars></app-antecedents-familiars>
  </div>

  <div [hidden]="formStep!=8">
    <app-colon-previa></app-colon-previa>
  </div>

  <div [hidden]="formStep!=9">
    <app-canvi-domicili></app-canvi-domicili>
  </div>




  
</div>
