<div class="w3-container w3-margin-top">
  <h2>
    El Càncer de Colon i Recte
  </h2>
  <p>
    És un dels més freqüents ente els homes i dones de més de 50 anys. La majoria de vegades es desenvolupa a partir de petites lesions (pòlips) de l'interior del còlon o intestí gros, que poden acabar transformant-se en un càncer. Si es detecta a temps, és més fàcil de tractar.
  </p>
  <h3>
    Què puc fer per prevenir-lo?
  </h3>
  <ol>
    <li>
      Tenir cura de la pròpia salut:
      <ul>
        <li>
          Seguir una dieta rica en fruita, verdura i productes làctics, i fer exercici físic regularment.
        </li>
        <li>
          Limitar el consum d'aliments amb greixos d'origen animal i de carns vermelles i processades, i evitar l'obesitat.
        </li>
        <li>
          No fumar, i evitar o moderar el consum de begudes alcohòliques.
        </li>
      </ul>
    </li>
    <li>
      Si teniu entre 50 i 69 anys, participar en els programes de detecció de càncer.
    </li>
  </ol>

</div>
