<div class="jumbotron">
  <p>
    És important tenir les dades actualitzades a l'RCA (Registre Central d'Assegurats), ho pot comprovar trucant al 061. Quan estigui actualitzat contacti amb nosaltres.
  </p>
  <hr class="my-4" class="sep-contacte"/>
  <div class="contacte">
    <h4>
      Programa de Detecció Precoç de Càncer de Còlon i Recte
    </h4>
    <ul>
      <li>
        Per telèfon: 9332607959
      </li>
      <li>
        Per correu electrònic: <a href="mailto:prevenciocolon@iconcologia.net">prevenciocolon@iconcologia.net</a>
      </li>
    </ul>
  </div>
</div>
