<div class="jumbotron">
  <p>
    És important tenir les dades actualitzades a l'RCA (Registre Central d'Assegurats), ho pot comprovar trucant al 061. Quan estigui actualitzat contacti amb nosaltres.
  </p>
  <hr class="my-4" class="sep-contacte"/>
  <div class="contacte">
    <h4>
      Programa de Detecció Precoç de Càncer de Còlon i Recte
    </h4>
    <ul>
      <li>
        Per telèfon: <a href="tel:+349332607959">9332607959</a>
      </li>
      <li>
        Per correu electrònic: <a href="mailto:prevenciocolon@iconcologia.net">prevenciocolon@iconcologia.net</a>
      </li>
    </ul>
  </div>
</div>
<div class="w3-row-padding w3-margin-top">
  <div class="w3-half">
    <button type="button" class="w3-button w3-round w3-border w3-border-red w3-margin-right" (click)="goPreviousStep()">
      <i class="fas fa-arrow-alt-circle-left"></i> Enrere
    </button>
  </div>
</div>
