<form [formGroup]="idDataControl">
  <div class="w3-row-padding">
    <div class="w3-half">
      <label>
        Edat:
      </label>
      <input class="w3-input w3-border" type="number" formControlName="age"/>
    </div>
    <div class="w3-half">
      <label>
        Municipi:
      </label>
      <input class="w3-input w3-border" type="text" formControlName="town"/>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-half">
      <label>
        CIP:
      </label>
      <input class="w3-input w3-border" type="text" formControlName="cip"/>
    </div>
    <div class="w3-half">
      <label>
        NCCR:
      </label>
      <input class="w3-input w3-border" type="text" formControlName="nccr"/>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-half">
      <label>
        Nom:
      </label>
      <input class="w3-input w3-border" type="text" formControlName="name"/>
    </div>
    <div class="w3-half">
      <label>
        Cognoms:
      </label>
      <input class="w3-input w3-border" type="text" formControlName="surname"/>
    </div>
  </div>
</form>